@charset "UTF-8";
#wrap {width:1200px;height:700px;margin:0 auto;text-align:center;}
#wrap #header {width:100%;height:100px;line-height:100px;}
#wrap #header .left-box  {float:left;width:200px;height:100%;background:rgba(0,150,0, .2);}
#wrap #header .right-box {float:left;width:1000px;height:100%;background:rgba(0,0,150, .2);}
#wrap #header .right-box #nav {width:100%;height:50px;margin:25px 0;line-height:100%;text-align:right;}
#wrap #header .right-box #nav > ul {height:100%;display:inline-block;margin-right:20px;}
#wrap #header .right-box #nav > ul > li {float:left;width:180px;height:100%;}
#wrap #header .right-box #nav > ul > li > a {display:block;width:100%;height:100%;text-align:center;line-height:50px;background:#fff;color:#000;transition:all .3s;}
#wrap #header .right-box #nav > ul > li > a:hover {background-color:#000;color:#fff;}


/* λ©”μΈ */
#wrap #main {width:100%;height:500px;}
#wrap #main #section1 {width:100%;height:300px;background:rgba(200,0,200, .2);line-height:300px;}
#wrap #main #section2 {width:100%;height:200px;line-height:200px;}
#wrap #main #section2 .left-box   {float:left;width:400px;height:100%;background:rgba(0,150,150, .3);}
#wrap #main #section2 .center-box {float:left;width:400px;height:100%;background:rgba(150,150,0, .3);}
#wrap #main #section2 .right-box  {float:left;width:400px;height:100%;background:rgba(150,0,150, .3);}

/* ν‘Έν„° */
#wrap #footer {width:100%;height:100px;line-height:100px;}
#wrap #footer .left-box   {float:left;width:200px;height:100%;background:rgba(0,100,0, .2);}
#wrap #footer .center-box {float:left;width:800px;height:100%;background:rgba(0,0,100, .2);}
#wrap #footer .right-box  {float:left;width:200px;height:100%;background:rgba(0,100,100, .2);}
